<!DOCTYPE html>
<html lang="en" ng-app="friendsList">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="mainCtrl">
    <h1>My Friends</h1>
        <div ng-repeat="friend in friends">
            <p>{{ friend }}</p>
        </div>
    
    <h2>Add a Friend</h2>
        <input type="text" name="friendname" ng-model="newName"><br>
        <button ng-click='addFriend()'>Add Friend</button>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="JS/app.js"></script>
    <script src="JS/mainCtrl.js"></script>
</body>
</html>